*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-app{
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-app h1{
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslateblue;
}

.categories{
  padding-top: 30px;
  display: flex;
  gap: 20px;
}

.categories button{
  padding: 10px;
  background-color: blanchedalmond;
  border-radius: 5px;
  color: darkviolet;
  border-color: deepskyblue;
 
}

.movies{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
/* justify-content: space-around; */
  gap: 20px;
  justify-content: center;
}

.card{
  height: 500px;
  width: 250px;  
  border-radius: 20px;
  background-color: blanchedalmond; 
  padding: 25px 25px;
  align-items: center;
  
}

.movies img{
  border-radius: 20px;
  height: 300px;
  width: 200px;  

}

.movies p, h3{
  color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;

}